@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("font-awesome.min.css");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

 ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #f0f4f4;
		color: #5b5b5b;
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}
	

	input, textarea, select {
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	h1, h2, h3 {
		font-weight: 400;
		color: #483949;
		line-height: 1.25em;
	}

	h1 a, h2 a, h3 a{
		color: inherit;
		text-decoration: none;
		border-bottom-color: transparent;
	}

	h2 {
		font-size: 2.85em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
		margin: 0 0 0.25em 0;
	}

	
	a {
		color: inherit;
		border-bottom: solid 1px rgba(128, 128, 128, 0.15);
		text-decoration: none;
		}

		a:hover {
			color: #ef8376;
			border-bottom-color: transparent;
		}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}


	p, ul,  dl, table {
		margin-bottom: 1em;
	}

	p {
		text-align: justify;
	}

	br.clear {
		clear: both;
	}

	hr {
		position: relative;
		display: block;
		border: 0;
		top: 4.5em;
		margin-bottom: 9em;
		height: 6px;
		border-top: solid 1px rgba(128, 128, 128, 0.2);
		border-bottom: solid 1px rgba(128, 128, 128, 0.2);
	}

	.timestamp {
		color: rgba(128, 128, 128, 0.75);
		font-size: 0.8em;
	}

/* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}


/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}


/* Sections/Article */

	section, article {
		margin-bottom: 3em;
	}

		 article.special > header, article.special > footer {
			text-align: center;
		}

	.row > section, .row > article {
		margin-bottom: 0;
	}

	header {
		margin: 0 0 1em 0;
	}

		header > p {
			display: block;
			font-size: 1.5em;
			margin: 1em 0 2em 0;
			line-height: 1.5em;
			text-align: inherit;
		}

	footer {
		margin: 2.5em 0 0 0;
	}

/* Image */

.image {
	position: relative;
	display: inline-block;
	border: 0;
	outline: 0;
}

	.image img {
		display: block;
		width: 100%;
	}

	.image.featured {
		display: block;
		width: 100%;
		margin: 0 0 4em 0;
	}

	
/* List */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

/* Button */

	input[type="button"],
	
	.button {
		position: relative;
		display: inline-block;
		background: #96cccc;
		color: rgb(29, 28, 28);
		text-align: center;
		border-radius: 0.5em;
		text-decoration: none;
		padding: 0.65em 3em 0.65em 3em;
		border: 0;
		cursor: pointer;
		outline: 0;
		font-weight: 300;
			}

		input[type="button"]:hover,
		
		.button:hover {
			color: #fff;
			background: #ef8376;
		}

/* Wrapper */

	.wrapper {
		background: #fff;
		margin: 0 0 2em 0;
		padding: 6em 0 6em 0;
	}

		.wrapper.style2 {
			padding-top: 0;
		}

/* Header */

	#header {
		position: relative;
		display: block;
		background-image: url("../../images/header.jpg");
		background-size: cover;
		background-position: center center;
		background-attachment: inherit;
		color: #fff;
		text-align: center;
		padding: 7.5em 0 2em 0;
		cursor: default;
		opacity: .9;
	}

		#header:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		#header .inner {
			position: relative;
			z-index: 1;
			margin: 0;
			display: inline-block;
			vertical-align: bottom;
		}

		#header header {
			display: inline-block;
		}

		#header h1 {
			color: #fff;
			font-size: 3em;
			line-height: 1em;
		}


		#header .button {
			display: inline-block;
			border-radius: 100%;
			width: 4.5em;
			height: 4.5em;
			line-height: 4.5em;
			text-align: center;
			font-size: 1.25em;
			padding: 0;
		}

		#header hr {
			top: 1.5em;
			margin-bottom: 3em;
			border-bottom-color: rgba(192, 192, 192, 0.35);
			box-shadow: inset 0 1px 0 0 rgba(192, 192, 192, 0.35);
		}

		#header footer {
			margin: 1em 0 0 0;
		}

	body.homepage #header {
		height: 100vh;
		min-height: 40em;
	}

		body.homepage #header h1 {
			font-size: 4em;
		}

		body.homepage #header:after {
			content: '';
			background: #1C0920;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			-moz-transition: opacity 2.5s ease-in-out;
			-webkit-transition: opacity 2.5s ease-in-out;
			-ms-transition: opacity 2.5s ease-in-out;
			transition: opacity 2.5s ease-in-out;
			-moz-transition-delay: 0.5s;
			-webkit-transition-delay: 0.5s;
			-ms-transition-delay: 0.5s;
			transition-delay: 0.5s;
		}

	body.homepage.is-preload #header:after {
		opacity: 1;
	}

/* Nav */

#nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 1.5em 0 1.5em 0;
	z-index: 1;
	overflow: hidden;
}

	#nav > ul {
		line-height: 0px;
		position: relative;
		display: inline-block;
		margin: 0;
		height: 21px;
		border-left: solid 1px rgba(192, 192, 192, 0.35);
		border-right: solid 1px rgba(192, 192, 192, 0.35);
	}

		#nav > ul:before, #nav > ul:after {
			content: '';
			display: block;
			width: 300%;
			position: absolute;
			top: 50%;
			margin-top: -2px;
			height: 5px;
			border-top: solid 1px rgba(192, 192, 192, 0.35);
			border-bottom: solid 1px rgba(192, 192, 192, 0.35);
		}

		#nav > ul:before {
			left: 100%;
			margin-left: 1px;
		}

		#nav > ul:after {
			right: 100%;
			margin-right: 1px;
		}

		#nav > ul > li {
			display: inline-block;
			margin: -9px 0.5em 0 0.5em;
			border-radius: 0.5em;
			padding: 0.85em;
			border: solid 1px transparent;
			-moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		}

			#nav > ul > li.active {
				border-color: rgba(192, 192, 192, 0.35);
			}

			#nav > ul > li > a, #nav > ul > li > span {
				display: block;
				color: inherit;
				text-decoration: none;
				border: 0;
				outline: 0;
			}

			#nav > ul > li > ul {
				display: none;
			}
	

/* Banner */

	#banner {
		background: #fff;
		text-align: center;
		padding: 4.5em 0 4.5em 0;
		margin-bottom: 0;
	}

		#banner header > p {
			margin-bottom: 0;
		}

/* Main */

	#main2 {
		margin-bottom: 0;
	}

		#main2 section:first-of-type {
			padding-top: 2em;
		}

/* Footer */

#footer {
	background: #f8f8f8;
	
}
#footer ul li a:hover{
	background-color: rgb(216, 207, 207)
}
	#footer a {
		color: inherit;
	}

	#footer .copyright {
		color: rgb(104, 103, 103);
		font-size: 0.9em;
		margin: 2em 0 0 0;
		padding: 0;
		text-align: center;
	}

		#footer .copyright li {
			
			display: inline-block;
			list-style: none;
			margin-left: 1.5em;
			padding-left: 1.5em;
		}
/* Carousel */

	.carousel {
		position: relative;
		overflow: hidden;
		padding: 2em 0 2em 0;
		margin-bottom: 0;
	}

		.carousel .forward, .carousel .backward {
			position: absolute;
			top: 50%;
			width: 6em;
			height: 12em;
			margin-top: -6em;
			cursor: pointer;
		}

			.carousel .forward:before, .carousel .backward:before {
				content: '';
				display: block;
				width: 6em;
				height: 6em;
				border-radius: 100%;
				background-color: rgba(72, 57, 73, 0.5);
				position: absolute;
				top: 50%;
				margin-top: -3em;
				-moz-transition: background-color 0.35s ease-in-out;
				-webkit-transition: background-color 0.35s ease-in-out;
				-o-transition: background-color 0.35s ease-in-out;
				-ms-transition: background-color 0.35s ease-in-out;
				transition: background-color 0.35s ease-in-out;
				-webkit-backface-visibility: hidden;
			}

			.carousel .forward:after, .carousel .backward:after {
				content: '';
				width: 3em;
				height: 3em;
				position: absolute;
				top: 50%;
				margin: -1.5em 0 0 0;
				background: url("images/arrow.svg") no-repeat center center;
			}

			.carousel .forward:hover:before, .carousel .backward:hover:before {
				background-color:  #4e7c80;
			}

		.carousel .forward {
			right: 0;
		}

			.carousel .forward:before {
				right: -3em;
			}

			.carousel .forward:after {
				right: -0.25em;
			}

		.carousel .backward {
			left: 0;
		}

			.carousel .backward:before {
				left: -3em;
			}

			.carousel .backward:after {
				left: -0.25em;
				-moz-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				-ms-transform: scaleX(-1);
				transform: scaleX(-1);
			}

		.carousel .reel {
			white-space: nowrap;
			position: relative;
			-webkit-overflow-scrolling: touch;
			padding: 0 2em 0 2em;
		}

		.carousel article {
			display: inline-block;
			width: 18em;
			background: #fff;
			text-align: center;
			padding: 0 1em 3em 1em;
			margin: 0 2em 0 0;
			white-space: normal;
			opacity: 1.0;
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
		}

			.carousel article.loading {
				opacity: 0;
			}

			.carousel article .image {
				position: relative;
				left: -1em;
				top: 0;
				width: auto;
				margin-right: -2em;
				margin-bottom: 3em;
			}

			.carousel article p {
				text-align: center;
			}


			#main {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				position: relative;
				max-width: 100%;
				z-index: 3;
			}
		
				#main article {
					-moz-transform: translateY(0.25rem);
					-webkit-transform: translateY(0.25rem);
					-ms-transform: translateY(0.25rem);
					transform: translateY(0.25rem);
					-moz-transition: opacity 0.325s ease-in-out, -moz-transform 0.325s ease-in-out;
					-webkit-transition: opacity 0.325s ease-in-out, -webkit-transform 0.325s ease-in-out;
					-ms-transition: opacity 0.325s ease-in-out, -ms-transform 0.325s ease-in-out;
					transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
					padding: 4.5rem 2.5rem 1.5rem 2.5rem ;
					position: relative;
					width: 40rem;
					max-width: 100%;
					background-color: rgba(27, 31, 34, 0.85);
					border-radius: 4px;
					opacity: 0;
				}
		
					#main article.active {
						-moz-transform: translateY(0);
						-webkit-transform: translateY(0);
						-ms-transform: translateY(0);
						transform: translateY(0);
						opacity: 1;
					}
		
					#main article .close {
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						width: 4rem;
						height: 4rem;
						cursor: pointer;
						text-indent: 4rem;
						overflow: hidden;
						white-space: nowrap;
					}
		
						#main article .close:before {
							-moz-transition: background-color 0.2s ease-in-out;
							-webkit-transition: background-color 0.2s ease-in-out;
							-ms-transition: background-color 0.2s ease-in-out;
							transition: background-color 0.2s ease-in-out;
							content: '';
							display: block;
							position: absolute;
							top: 0.75rem;
							left: 0.75rem;
							width: 2.5rem;
							height: 2.5rem;
							border-radius: 100%;
							background-position: center;
							background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");
							background-size: 20px 20px;
							background-repeat: no-repeat;
						}
		
						#main article .close:hover:before {
							background-color: rgba(255, 255, 255, 0.075);
						}
		
						#main article .close:active:before {
							background-color: rgba(255, 255, 255, 0.175);
						}
		
				@media screen and (max-width: 736px) {
		
					#main article {
						padding: 3.5rem 2rem 0.5rem 2rem ;
					}
		
						#main article .close:before {
							top: 0.875rem;
							left: 0.875rem;
							width: 2.25rem;
							height: 2.25rem;
							background-size: 14px 14px;
						}
		
				}
		
				@media screen and (max-width: 480px) {
		
					#main article {
						padding: 3rem 1.5rem 0.5rem 1.5rem ;
					}
		
				}