<!DOCTYPE HTML>

<html>
	<head>
		<!-- <title>Project2- Suicide</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<noscript>
			<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
		</noscript> -->
		<title>Suicide Perspectives</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/css/style.css" />
		</noscript>
	</head>
	<body id="top" >

		<!-- Header -->
			<header id="header" >
				<h1><a href="/index">Home</a></h1>
				<nav id="nav">
					<ul>
						
						<li><a href="/chart">Charts and Maps</a></li>
						<li><a href="/form" >Form</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" >
				<header class="major">
					<div class="image fit">
					<img src="/static/images/10.jpg" alt="Suicide" style="height:200px" style="display:block" /></div>
				</header>
				<div class="container">
					<div class="row">
						<div class="4u">
							<section>
								
								<p>Suicide is a serious public health problem that causes immeasurable pain, suffering, and loss to individuals, families, and communities nationwide. The causes of suicide are complex and determined by multiple combinations of factors, such as mental illness, substance abuse, painful losses, exposure to violence, and social isolation.  </p>
								
							</section>
							<hr />
							<section>
								<h3><strong>Frequently Asked Questions About Suicide</strong> </h3>
								<ul >
									<li><a href="#pub1">What Is Suicide?</a></li>
									<li><a href="#pub2">Who Is at Risk for Suicide?</a></li>
									<li><a href="#pub3">What Are the Warning Signs of Suicide?</a></li>
									<li><a href="#pub4">What Should I Do if I Am in Crisis or Someone I Know Is Considering Suicide?</a></li>
									<li><a href="#pub5">What if Someone Needs Help Online?</a></li>
									<li><a href="#pub6">Do People Threaten Suicide to Get Attention?</a></li>
									
								</ul>
							</section>
						</div>
						<div class="8u skel-cell-important">
							<section>
								
								<a href="#" class="image fit2"><img src="/static/images/13.png" alt="" /></a>
								<h2  id="pub1"><strong>What Is Suicide?</strong> </h2>
								<p>Suicide is when people direct violence at themselves with the intent to end their lives, and they die because of their actions. It’s best to avoid the use of terms like “committing suicide” or a “successful suicide” when referring to a death by suicide as these terms often carry negative connotations.
									
									A suicide attempt is when people harm themselves with the intent to end their lives, but they do not die because of their actions.</p>
									<h2   id="pub2"><strong> Who is at risk for Suicide?</strong></h2>
									<p>Suicide does not discriminate. People of all genders, ages, and ethnicities can be at risk.</p>
								<ul class="ul_default"> 
									<li class="generic-container">A prior suicide attempt</li> 
									<li class="generic-container">Depression and other mental health disorders</li> 
									<li class="generic-container">Substance abuse disorder</li> 
									<li class="generic-container">Family history of a mental health or substance abuse disorder</li> 
									<li class="generic-container">Family history of suicide</li> 
									<li class="generic-container">Family violence, including physical or sexual abuse</li> 
									<li class="generic-container">Having guns or other firearms in the home</li> 
									<li class="generic-container">Being in prison or jail</li> 
									<li class="generic-container">Being exposed to others’ suicidal behavior, such as a family member, peer, or media figure</li> 
									<li class="generic-container">Medical illness</li> 
									<li class="generic-container">Being between the ages of 15 and 24 years or over age 60&nbsp;</li> 

								   </ul>
								   <h2  id="pub3"><strong>What Are the Warning Signs of Suicide?</strong> </h2>
								   <p>The behaviors listed below may be signs that someone is thinking about suicide.</p>
								   <ul class="ul_default"> 
									<li class="generic-container">Talking about wanting to die or wanting to kill themselves</li> 
									<li class="generic-container">Talking about feeling empty, hopeless, or having no reason to live</li> 
									<li class="generic-container">Planning or looking for a way to kill themselves, such as searching online, stockpiling pills, or newly acquiring potentially lethal items (e.g., firearms, ropes)</li> 
									<li class="generic-container">Talking about great guilt or shame</li> 
									<li class="generic-container">Talking about feeling trapped or feeling that there are no solutions</li> 
									<li class="generic-container">Feeling unbearable pain, both physical or emotional</li> 
									<li class="generic-container">Talking about being a burden to others</li> 
									<li class="generic-container">Using alcohol or drugs more often</li> 
									<li class="generic-container">Acting anxious or agitated</li> 
									<li class="generic-container">Withdrawing from family and friends</li> 
									<li class="generic-container">Changing eating and/or sleeping habits</li> 
									<li class="generic-container">Showing rage or talking about seeking revenge</li> 
									<li class="generic-container">Taking risks that could lead to death, such as reckless driving</li> 
									<li class="generic-container">Talking or thinking about death often</li> 
									<li class="generic-container">Displaying extreme mood swings, suddenly changing from very sad to very calm or happy</li> 
									<li class="generic-container">Giving away important possessions</li> 
									<li class="generic-container">Saying goodbye to friends and family</li> 
									<li class="generic-container">Putting affairs in order, making a will</li> 
								   </ul>

								   <h2  id="pub4"><strong>What Should I Do if I Am in Crisis or Someone I Know Is Considering Suicide? </strong> </h2>
								   <p>Often, family and friends are the first to recognize the warning signs of suicide and can take the first step toward helping an at-risk individual find treatment with someone who specializes in diagnosing and treating mental health conditions. If someone is telling you that they are going to kill themselves, do not leave them alone. Do not promise anyone that you will keep their suicidal thoughts a secret. Make sure to tell a trusted friend or family member, or if you are a student, an adult with whom you feel comfortable. You can also contact the resources noted below.</p>
								   <h2  id="pub5"><strong>What if Someone Needs Help Online?</strong> </h2>
								   <p>If you see someone online who is suicidal, there are several steps you can take to help this person.</p>
								   <ul><li>Take his or her words seriously and respond with compassion.</li>
									<li>Encourage him or her to reach out for help to a friend, family member, counselor, clergy and other community members.</li>
									<li>Encourage him or her to call the&nbsp;<strong><a href="http://www.suicidepreventionlifeline.org/">National Suicide Prevention Hotline </a></strong>&nbsp;at (800) 273-TALK (8255). Tell him or her the Lifeline is available 24/7 for anyone in suicidal crisis anywhere in the United States.</li>
									<li>If you would like assistance, the Lifeline is also available to provide information about helping someone contemplating suicide. You can also visit the&nbsp;Lifeline&nbsp;website by clicking on the link above.</li>
									<li>If the person online is saying he or she is going to kill him or herself at that moment or is in the process of attempting suicide, please try to find the person's location and call the local police or 911.</li>
									</ul>
								   <h2  id="pub6"><strong>Do People Threaten Suicide to Get Attention?</strong> </h2>
								   <p>Suicidal thoughts or actions are a sign of extreme distress and an alert that someone needs help. Any warning sign or symptom of suicide should not be ignored. All talk of suicide should be taken seriously and requires attention. Threatening to die by suicide is not a normal response to stress and should not be taken lightly.

								</p>
							</section>
						</div>
					</div>
					<hr class="major" />
					<div class="row">
							<div class="6u">
									<section class="special">
											<a href="http://www.sprc.org/resources-programs/dialectical-behavior-therapy"> <img src="/static/images/17.PNG"  alt="Options and Therapies" /></a>
										<h3><strong> Options and Therapies</strong></h3>
										<p>Effective suicide intervention practices are based on research findings and tested to see how various programs benefit various specific groups of people. For example, research has shown that borderline personality disorder is a risk factor for suicidal behavior, and there are programs that are effective in reducing suicide attempts.</p>
										<ul class="actions">
											<li><a href="http://www.sprc.org/resources-programs/dialectical-behavior-therapy" class="button alt"><strong> Learn More</strong> </a></li>
										</ul>
									</section>
								</div>
						<div class="6u">
							<section class="special">
									<a href="https://findtreatment.samhsa.gov/"> <img src="/static/images/19.png" /></a>
								<h3><strong>Help</strong> </h3>
								<p>The Substance Abuse and Mental Health Services Administration (SAMHSA) provides this online resource for locating mental health treatment facilities and programs. The Mental Health Treatment Locator section of the Behavioral Health Treatment Services Locator lists facilities providing mental health services to persons with mental illness.
							
								<ul class="actions">
									<li><a href="https://findtreatment.samhsa.gov/" class="button alt"><strong>Find a facility in your state</strong> </a></li>
								</ul>
							</section>
						</div>
						
					</div>
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<div >		
						<img src="/static/images/us.jpg" style=" width:40%">
						
						<img src="/static/images/team.gif" usemap="#image-map" style="float:right; width: 40%">

						<map name="image-map">
							<area target="_self" alt="Simon Alizadeh" title="Simon Alizadeh" href="http://www.linkedin.com/in/simon-alizadeh" coords="112,28,10,222" shape="rect">
							<area target="_self" alt="Chithra Kumar" title="Chithra Kumar" href="https://github.com/csasik" coords="117,4,227,175" shape="rect">
							<area target="_self" alt="Lalita Eranki" title="Lalita Eranki" href="https://github.com/Lalitaeranki" coords="425,5,320,181" shape="rect">
							<area target="_self" alt="Parno Ghareh" title="Parno Ghareh" href="https://github.com/Pghareh22" coords="430,5,540,196" shape="rect">
						</map>
								
				</div>
					
					
					
			</div>
				<ul class="copyright">
					<li>&copy;UCI Coding Bootcamp 2018</li>
					
				</ul>
			</div>
			</footer>

	</body>
</html>